/* Общие стили */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: url('../images/header.jpg') no-repeat center center/cover;
    background-attachment: fixed;
    color: #333333;
    overflow-x: hidden;
}

/* Навигация */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: rgba(0, 0, 0, 0);
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    transition: color 0.3s, text-shadow 0.3s;
}

nav a:hover {
    color: #00ffcc;
    text-shadow: 0 0 10px rgba(0, 255, 204, 0.8);
}

nav a.back-to-home {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px 20px;
    background: #ff6600;
    border-radius: 5px;
    transition: 0.3s;
}

nav a.back-to-home:hover {
    background: #e65c00;
}

.burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    z-index: 10;
}

.burger-menu .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
    transition: 0.4s;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a, .nav-links button {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    background: none;
    border: none;
    cursor: pointer;
}

.social-links {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-links a {
    color: #0879fa;
    font-size: 24px;
    margin: 0 10px;
    transition: color 0.3s;
}

.social-links a:hover {
    color: #00ffcc;
}


@media (max-width: 768px) {
    .burger-menu {
        display: flex;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background: rgba(0, 0, 0, 0.9);
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .burger-menu.active .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .burger-menu.active .bar:nth-child(2) {
        opacity: 0;
    }

    .burger-menu.active .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}

button#language-switcher {
    padding: 10px 15px;
    font-size: 1em;
    background: linear-gradient(45deg, #008cba, #005f8a);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button#language-switcher:hover {
    background: linear-gradient(45deg, #0077a3, #004f6e);
    transform: scale(1.05);
}

/* Заголовок */
header {
    text-align: center;
    padding: 50px 20px;
    background: rgba(0, 0, 0, 0);
    color: #fff;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2em;
}

/* Секции */
section {
    padding: 40px 20px;
    max-width: 900px;
    margin: 20px auto;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #222;
}

.service-item, .partner-item {
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 15px;
    background: #f8f8f8;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.service-item:hover, .partner-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.service-item img, .partner-item img {
    width: 40%;
    height: auto;
    border-radius: 8px;
    object-fit: contain;
    transition: transform 0.3s, opacity 0.3s;
}

.service-item:hover img, .partner-item:hover img {
    transform: scale(1.05);
    opacity: 0.9;
}
.service-item {
    cursor: pointer;
}
.service-details {
    display: none;
    margin-top: 10px;
    background: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
}

.service-item.active .service-details {
    display: block;
}

/* Цены */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background: linear-gradient(45deg, #ff6600, #ff3300);
    color: #fff;
}

tr:nth-child(even) {
    background: #f2f2f2;
}
.pricing-details {
    display: none;
    background: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
}

.pricing-item {
    cursor: pointer;
}

.pricing-item.active + .pricing-details {
    display: table-row;
}

.pricing-details table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pricing-details table, .pricing-details th, .pricing-details td {
    border: 1px solid #ddd;
}

.pricing-details th, .pricing-details td {
    padding: 10px;
    text-align: center;
}

.pricing-details th {
    background: linear-gradient(45deg, #ff6600, #ff3300);
    color: #fff;
}

/* Контакты */
#contact p {
    text-align: center;
    font-size: 1.1em;
}

/* WhatsApp Чат */
.whatsapp-chat {
    text-align: center;
    margin-top: 20px;
}

.whatsapp-chat button {
    padding: 12px 20px;
    font-size: 1.2em;
    background: #25D366;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.whatsapp-chat button:hover {
    background: #1da851;
}

/* Подвал */
footer {
    text-align: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
}

.dark-mode {
    background: #121212;
    color: #f0f0f0;
}

.dark-mode nav {
    background: rgba(0, 0, 0, 0.9);
}


.bike {
    position: absolute;
    width: 100px;
    transition: transform 3s ease-in-out;
    z-index: 1;
}
.bike-repair {
    left: -120px;
    top: 33%;
    transform: translateY(-50%);
}
.bike-fixed {
    right: -120px;
    top: 33%;
    transform: translateY(-50%) scaleX(-1);
}
.animate-bikes .bike-repair {
    transform: translate(50vw, -50%);
}
.animate-bikes .bike-fixed {
    transform: translate(-50vw, -50%) scaleX(-1);
}


/* Адаптация для мобильных устройств */
@media (max-width: 768px) {
    header {
        padding: 30px 10px;
    }

    header h1 {
        font-size: 2em;
    }

    header p {
        font-size: 1em;
    }

    .bike {
        width: 80px;
    }

    section {
        padding: 20px 10px;
        margin: 10px auto;
    }

    .service-item, .partner-item {
        padding: 15px;
    }

    .service-item img, .partner-item img {
        width: 100%;
        max-width: 300px;
        height: auto;
        border-radius: 8px;
        object-fit: cover;
        
    }

    table, th, td {
        padding: 5px;
    }

    th {
        font-size: 0.9em;
    }

    td {
        font-size: 0.9em;
    }

    footer {
        padding: 10px;
    }
}

/* Адаптация для экранов шириной до 480px */
@media (max-width: 480px) {
    header {
        padding: 20px 5px;
    }

    header h1 {
        font-size: 1.5em;
    }

    header p {
        font-size: 0.9em;
    }

    .bike {
        width: 60px;
    }

    section {
        padding: 15px 5px;
        margin: 5px auto;
    }

    .service-item, .partner-item {
        padding: 10px;
    }

    .service-item img, .partner-item img {
        width: 70%;
        max-width: 100px;
        height: auto;
        border-radius: 8px;
        object-fit: cover;
        filter: contrast(1.2);
    }

    table, th, td {
        padding: 3px;
    }

    th {
        font-size: 0.9em;
    }

    td {
        font-size: 0.9em;
    }

    footer {
        padding: 5px;
    }
}

/* Стили для широкоформатных экранов */
@media (min-width: 769px) {
    .burger-menu {
        display: flex;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .nav-links {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-links li {
        margin: 0 20px;
    }
}


/* Стили для кнопки "Вверх" */
#scrollToTopBtn {
    position: fixed;
    bottom: 80px;
    left: 10px;
    display: none;
    background-color: #ff6600;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s;
}

#scrollToTopBtn.showBtn {
    display: block;
    opacity: 1;
}

#scrollToTopBtn:hover {
    background-color: #ff3300;
}