/* Основной фон страницы */
body {
    background-color: #f4f4f4;
    font-family: 'Arial', sans-serif;
}

/* Секция Pit-Stop Service */
#pit-stop-service {
    padding: 50px;
    text-align: center;
    background-color: #222;
    color: #fff;
}

/* Заголовок */
#pit-stop-service h1 {
    font-size: 36px;
    color: #ffcc00;
    margin-bottom: 30px;
}

/* Стиль для списка услуг */
.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.service-item {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.service-item h2 {
    font-size: 24px;
    color: #ffcc00;
    margin-bottom: 10px;
}

.service-item p {
    font-size: 16px;
}

/* Кнопка возврата на главную */
nav .back-to-home {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #bbff00;
    color: #222;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
}

nav .back-to-home:hover {
    background-color: #e6b800;
}

/* Кнопка онлайн-бронирования */
.booking-button {
    background-color: #ffcc00;
    color: #222;
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 50px;
}

.booking-button:hover {
    background-color: #e6b800;
}
